/* Import da font Archivo e Archivo Black */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET GERAL */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
}

header {
    background-color: #00A1FC;
    width: 100vw;
    height: 100px;    
}

nav{
    color: #fff;
    display: flex;
    align-items: center;
}

nav>ul>li>a{
    text-decoration: none;
}

nav>a>p{
    color: black;
    background-color: #fff;
    display: block;
    width: 123px;
    height: 49px;
    border-radius: 5px;
    text-align: center;

} */

  .div {
    background-color: #fff;
    display: flex;
    padding-bottom: 78px;
    flex-direction: column;
  }
  .div-2 {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    background-color: #00a1fc;
    display: flex;
    width: 100%;
    gap: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    padding: 66px 62px 37px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-3 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 64px/37.5% Archivo Black, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      font-size: 40px;
    }
  }
  .div-4 {
    align-self: start;
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #000;
    line-height: 150%;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-4 {
      white-space: initial;
    }
  }
  .div-5 {
    font-family: Archivo Black, sans-serif;
    border-radius: 6px;
    background-color: #fff;
    justify-content: center;
    padding: 19px 34px;
  }
  @media (max-width: 991px) {
    .div-5 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-6 {
    display: flex;
    flex-direction: column;
    font-family: Archivo Black, sans-serif;
    position: relative;
    fill: #fff;
    overflow: hidden;
    aspect-ratio: 2.73;
    justify-content: center;
    padding: 19px 9px;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-7 {
    position: relative;
  }
  .div-8 {
    align-self: center;
    margin-top: 22px;
    width: 100%;
    max-width: 1771px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-10 {
    display: flex;
    margin-top: 117px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-13 {
    border-radius: 50px;
    background-color: rgba(222, 227, 243, 1);
    border-color: rgba(2, 137, 214, 1);
    border-style: solid;
    border-width: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 40px;
    color: #000;
    font-weight: 400;
    text-align: center;
    line-height: 60%;
    width: 100%;
    padding: 60px 48px;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-14 {
    font-family: Archivo Black, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 159px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-self: center;
    margin-top: 24px;
    max-width: 100%;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-15 {
    border-radius: 50px;
    border-color: rgba(2, 137, 214, 1);
    border-style: solid;
    border-width: 10px;
    background-color: #dee3f3;
    flex-grow: 1;
    color: #000;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 70px 51px;
    font: 400 40px/61px Archivo Black, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-16 {
    border-radius: 50px;
    border-color: rgba(2, 137, 214, 1);
    border-style: solid;
    border-width: 10px;
    background-color: #dee3f3;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 31px 47px 80px;
    font: 400 40px/61px Archivo Black, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-17 {
    border-radius: 50px;
    border-color: rgba(2, 137, 214, 1);
    border-style: solid;
    border-width: 10px;
    background-color: #dee3f3;
    margin-top: 50px;
    align-items: center;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 67px 60px 151px;
    font: 400 64px Archivo Black, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
      padding: 0 20px 40px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-18 {
    border-radius: 50px;
    border-color: rgba(2, 137, 214, 1);
    border-style: solid;
    border-width: 10px;
    background-color: #dee3f3;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font-weight: 400;
    width: 100%;
    padding: 7px 0;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-19 {
    border-radius: 50px;
    background-color: #0289d6;
    display: flex;
    padding-top: 18px;
    flex-direction: column;
    font-size: 32px;
    text-align: center;
    line-height: 75%;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
    }
  }
  .div-20 {
    font-family: Archivo Black, sans-serif;
    align-self: center;
    z-index: 10;
  }
  .div-21 {
    background-color: #0289d6;
    z-index: 10;
    margin-bottom: -7px;
    height: 40px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
    }
  }
  .div-22 {
    display: flex;
    margin-top: 431px;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    color: #000;
    line-height: 14px;
    padding: 0 26px;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-23 {
    text-align: right;
    font-family: Archivo Black, sans-serif;
  }
  .div-24 {
    color: #525252;
    font-family: Archivo Black, sans-serif;
    align-self: stretch;
    margin-top: 42px;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-25 {
    text-align: right;
    font-family: Archivo Black, sans-serif;
    line-height: 70%;
    margin-top: 42px;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-top: 40px;
    }
  }
  .div-26 {
    border-radius: 50px;
    background-color: #0289d6;
    display: flex;
    margin-top: 28px;
    padding-bottom: 26px;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    line-height: 100%;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .div-27 {
    border-radius: 0px 0px 11px 28px;
    background-color: #0289d6;
    display: flex;
    flex-direction: column;
    padding: 8px 33px 0;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-28 {
    border-radius: 10px;
    border-color: rgba(67, 66, 66, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #6c707b;
    z-index: 10;
    display: flex;
    margin-bottom: -6px;
    gap: 20px;
    padding: 6px 44px;
  }
  @media (max-width: 991px) {
    .div-28 {
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .div-29 {
    font-family: Archivo Black, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 41px;
  }
