.pannels {
    display: flex;
    justify-content: space-between;
}

.left_pannel {
    margin-left: 3%;
}

.button__meu_perfil,
.button__consulta_veiculo,
.button__consulta_peca {
    margin: 0 18px;
}

.right_pannel {
    margin: 2% 5%;
}