.pannels {
    display: flex;
    justify-content: space-around;
}
.button__manuais_manutencao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 5%;
    row-gap: 1.5rem;
}





