.left_pannel {
    position: absolute;
    right: 25%;
    top: 50%;
    bottom: 30%;
    gap: 10px;
}

.button__manuais_manutencao{
    position: absolute;
    right: 20%;
}

.pannels {
    margin-bottom: 50px;
}

