@charset "UTF-8";

/* Celular */
@media screen and (min-width: 0px) and (max-width: 600px) {

    .meus_veiculos {
        display: none;
    }  
    .meus_veiculos_celular{
        display: flex;
        max-width: 120%;
    }
    .pannels{
        flex-direction: column;
        margin-left: 15%;
        img
    }
    .alterarSenha, .excluirUsuario {
        max-width: 70%;
    }
   
}


@media screen and (min-width: 601px) and (max-width: 768px) {

    .meus_veiculos_celular{
        display: none;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {

    .meus_veiculos_celular{
        display: none;
    }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
  
    .meus_veiculos_celular{
        display: none;
    }
}


@media screen and (min-width: 1201px) {

    .meus_veiculos_celular{
        display: none;
    }
    
}