.slide {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .slide .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .slide .group {
    position: absolute;
    width: 1920px;
    height: 153px;
    top: 0;
    left: 0;
    background-color: #00a1fc;
    box-shadow: 0px 0px 6px #0000001f;
  }
  
  .slide .group-2 {
    position: absolute;
    width: 1730px;
    height: 77px;
    top: 55px;
    left: 0;
  }
  
  .slide .overlap {
    position: absolute;
    width: 141px;
    height: 58px;
    top: 6px;
    left: 1372px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .slide .text-wrapper {
    position: absolute;
    width: 76px;
    height: 22px;
    top: 18px;
    left: 33px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .slide .overlap-group {
    position: absolute;
    width: 184px;
    height: 58px;
    top: 6px;
    left: 1540px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .slide .rectangle {
    position: absolute;
    width: 129px;
    height: 49px;
    top: 5px;
    left: 6px;
  }
  
  .slide .text-wrapper-2 {
    position: absolute;
    width: 173px;
    height: 24px;
    top: 17px;
    left: 6px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .slide .text-wrapper-3 {
    position: absolute;
    width: 418px;
    height: 77px;
    top: 0;
    left: 0;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .slide .image {
    width: 78px;
    height: 78px;
    top: 55px;
    left: 1773px;
    position: absolute;
    object-fit: cover;
  }
  
  .slide .overlap-2 {
    position: absolute;
    width: 362px;
    height: 374px;
    top: 248px;
    left: 122px;
  }
  
  .slide .img {
    position: absolute;
    width: 362px;
    height: 330px;
    top: 44px;
    left: 0;
  }
  
  .slide .text-wrapper-4 {
    position: absolute;
    width: 317px;
    height: 233px;
    top: 0;
    left: 23px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .slide .image-2 {
    width: 167px;
    height: 167px;
    top: 175px;
    left: 98px;
    position: absolute;
    object-fit: cover;
  }
  
  .slide .overlap-3 {
    position: absolute;
    width: 362px;
    height: 352px;
    top: 270px;
    left: 541px;
  }
  
  .slide .rectangle-2 {
    position: absolute;
    width: 362px;
    height: 330px;
    top: 22px;
    left: 0;
    background-color: #dee3f3;
    border-radius: 50px;
    border: 10px solid;
    border-color: #0189d5;
  }
  
  .slide .text-wrapper-5 {
    position: absolute;
    width: 317px;
    height: 233px;
    top: 0;
    left: 23px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 61px;
  }
  
  .slide .overlap-4 {
    position: absolute;
    width: 1204px;
    height: 358px;
    top: 644px;
    left: 122px;
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 1200px;
    height: 330px;
    top: 28px;
    left: 0;
    background-color: #dee3f3;
    border-radius: 50px;
    border: 10px solid;
    border-color: #0189d5;
  }
  
  .slide .text-wrapper-6 {
    position: absolute;
    width: 1172px;
    height: 233px;
    top: 0;
    left: 32px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: 0.1px;
  }
  
  .slide .overlap-5 {
    position: absolute;
    width: 497px;
    height: 827px;
    top: 175px;
    left: 1406px;
  }
  
  .slide .overlap-wrapper {
    position: absolute;
    width: 497px;
    height: 827px;
    top: 0;
    left: 0;
  }
  
  .slide .overlap-6 {
    position: relative;
    width: 487px;
    height: 827px;
    background-color: #dee3f3;
    border-radius: 50px;
    border: 10px solid;
    border-color: #0189d5;
  }
  
  .slide .overlap-group-2 {
    position: absolute;
    width: 487px;
    height: 87px;
    top: 9px;
    left: 0;
  }
  
  .slide .rectangle-4 {
    position: absolute;
    width: 487px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #0189d5;
    border-radius: 50px;
  }
  
  .slide .rectangle-5 {
    position: absolute;
    width: 487px;
    height: 40px;
    top: 47px;
    left: 0;
    background-color: #0189d5;
  }
  
  .slide .text-wrapper-7 {
    position: absolute;
    width: 367px;
    height: 62px;
    top: 10px;
    left: 62px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .slide .overlap-group-3 {
    position: absolute;
    width: 477px;
    height: 80px;
    top: 742px;
    left: 0;
  }
  
  .slide .rectangle-6 {
    position: absolute;
    width: 465px;
    height: 80px;
    top: 0;
    left: 10px;
    background-color: #0189d5;
    border-radius: 50px;
  }
  
  .slide .rectangle-7 {
    position: absolute;
    width: 477px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: #0189d5;
    border-radius: 0px 0px 11px 28px;
  }
  
  .slide .rectangle-8 {
    position: absolute;
    width: 427px;
    height: 52px;
    top: 8px;
    left: 33px;
    background-color: #6c6f7b;
    border-radius: 10px;
    border: 3px solid;
    border-color: #424242;
  }
  
  .slide .text-wrapper-8 {
    position: absolute;
    width: 318px;
    height: 33px;
    top: 17px;
    left: 43px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .slide .paperclip {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 13px;
    left: 367px;
  }
  
  .slide .p {
    position: absolute;
    width: 388px;
    height: 49px;
    top: 507px;
    left: 62px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .slide .text-wrapper-9 {
    position: absolute;
    width: 324px;
    height: 50px;
    top: 594px;
    left: 14px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #515151;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .slide .text-wrapper-10 {
    position: absolute;
    width: 324px;
    height: 16px;
    top: 685px;
    left: 126px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: 14px;
    white-space: nowrap;
  }
  
  .slide .text-wrapper-11 {
    position: absolute;
    width: 367px;
    height: 62px;
    top: 10px;
    left: 62px;
    font-family: "Archivo Black-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
  }
  
  .slide .emoji-right-arrow {
    position: absolute;
    width: 41px;
    height: 31px;
    top: 15px;
    left: 409px;
  }
  
  .slide .overlap-7 {
    position: absolute;
    width: 362px;
    height: 370px;
    top: 248px;
    left: 960px;
  }
  
  .slide .group-wrapper {
    position: absolute;
    width: 362px;
    height: 370px;
    top: 0;
    left: 0;
  }
  
  .slide .overlap-group-wrapper {
    width: 364px;
    height: 370px;
  }
  
  .slide .overlap-group-4 {
    position: relative;
    width: 362px;
    height: 370px;
  }
  
  .slide .rectangle-9 {
    position: absolute;
    width: 362px;
    height: 330px;
    top: 40px;
    left: 0;
    background-color: #dee3f3;
    border-radius: 50px;
    border: 10px solid;
    border-color: #0189d5;
  }
  
  .slide .group-3 {
    position: absolute;
    width: 124px;
    height: 124px;
    top: 213px;
    left: 119px;
  }
  